<style type="text/css">
	.wrap {
		height: 100%;
	}
</style>
<div class="list-group-item">
	<h4 class="list-group-item-heading">
		
	
		<div class="pull-right">
			{{!-- <a href="" class="btn-primary btn-sm">
				<i class="fa fa-play"></i> Try
			</a> --}}
			{{#link-to 'arena' arena.id class="btn-primary btn-sm"}}
                <i class="fa fa-play"></i> Try
            {{/link-to}}
		</div>
		<h4 class="list-group-item-heading">
			<a>{{arena.name}}</a>
		</h4>
	</h4>
	{{#if arena.prerequisit}}
		<small class="text-muted"><em>Prerequisit: <code><a>{{arena.prerequisit.name}}</a></code></em></small>
	{{else}}
		<small class="text-muted"><em>Prerequisit: <code>None</code></em></small>
	{{/if}}
	<br>
	<p class="list-group-item-text text-info">{{arena.description}}</p>

</div>
{{yield}}
