<div class="container">
	<div class="page-header">
	</div>
	<a href="#" id="toggle-btn" {{action "toggleForm"}} class="btn btn-success btn-block"><i class="fa fa-plus-square-o"></i> Create Arena</a>
	<div class="row collapse">
		<div class="col-md-4">
			<form class="form-group" {{action 'save' on='submit'}}>
				<label for="name">Arena Name:</label>
				{{input id='name' value=name class="form-control" placeholder='Arena Name'}}<br>
				<label for="description">Description:</label>
				{{input id='description' value=description class="form-control" placeholder='Short Description'}}<br>
				<label for="name">Author:</label>
				{{input id='author' value=author class="form-control" disabled="true" value=current_user.username}}<br>
				<label for="prerequisit">Prerquisit:</label>
				<select value='prerequisit' id='prerequisit' class="form-control">
					<option value="None" selected="True"> None</option>
				  {{#each arenas as |arena|}}
				    <option value={{arena.id}}>{{arena.name}}</option>
				  {{/each}}
				</select><br>
				<button type="submit" class="btn btn-success btn-block" type="submit"><i class="fa fa-plus-square-o"></i> Create Arena</button>
				<a href="#"{{action "toggleForm"}} class="btn btn-danger btn-block"><i class="fa fa-cancel"></i> Cancel</a>
				{{#if errorMessage}}
			    <p>{{errorMessage}}</p>
			  {{/if}}
			</form>
		</div>
		<div class="col-md-8 text-center">
			<h1>Create an Arena</h1>
			<h1><i class="fa fa-gamepad fa-5x" aria-hidden="true"></i></h1>
		</div>
	</div>	
</div>



{{yield}}
