<div class="container">
	<div class="list-group-item">
		<h4 class="list-group-item-heading">
			
		
			<div class="pull-right">
				{{!-- <a href="" class="btn-primary btn-sm">
					<i class="fa fa-play"></i> Try
				</a> --}}
				{{!-- {{#link-to 'arena' arena.id class="btn-primary btn-sm"}}
	                <i class="fa fa-play"></i> Try
	            {{/link-to}} --}}
	            <a class='challenge-discussion btn btn-info btn-sm' href="#"><i class="fa fa-comment"></i> Discussion</a>
	            <a href="" class="btn btn-primary btn-sm"><i class="fa fa-play"></i> Try</a>
	            {{#link-to 'challenge.edit' challenge}}<button {{action 'edit'}} class="btn btn-primary btn-sm">
		            <i class="fa fa-pencil-square-o"></i> Edit</button>
		        {{/link-to}}
	            
			</div>

			<h4 class="list-group-item-heading">
				<a>{{challenge.name}}</a>
			</h4>
		</h4>

		<section class="list-group-item-text">
	            
	        <div>
		        <small class="text-muted"><em><code><a>Exp: {{challenge.exp}}</a></code></em></small>
		        {{#each challenge.concepts as |concept|}}
		        	<span class="label label-default"><i class="fa fa-tags"></i> {{concept.name}}</span>
		        {{else}}
		        	<span class="label label-default"><i class="fa fa-tags"></i> No Tags</span>
		        {{/each}}
	            
	            
	        </div>
	    </section>

	</div>	

	
</div>

{{yield}}
