<div class="container">  
  	{{#if session.isAuthenticated}}
	  	You are logged in {{session}}
	  	{{!-- <div class="page-header">
		    <samp>Logged in as {{current_user.email}}</samp>
		</div> --}}
	{{else}}
		<div class="page-header">
		    <h3>Sign in</h3>
		</div>
		<form class="form-group" {{action 'authenticate' on='submit'}}>
			{{input id='identification' value=identification class="form-control" placeholder='Login'}}<br>
			{{input id='password' value=password class="form-control" placeholder='Password' type='password'}}<br>
			<button type="submit" class="btn btn-primary btn-block" type="submit"><i class="fa fa-unlock-alt"></i> Login</button>
			{{#if errorMessage}}
		    <p>{{errorMessage}}</p>
		  {{/if}}
		</form>
	{{/if}}


{{yield}}
</div>
