<button id="modal-trigger" type="button" class="btn btn-info btn-lg hidden" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Challenge: {{model.name}}</h4>
      </div>
      <div class="modal-body">
        <form id="challenge-edit-form" class="form-group" {{action 'save' on='submit'}}>
				<label for="name">Challenge Name:</label>
				{{input id="name-edit" value=model.name class="form-control" placeholder='Challenge Name'}}<br>
				<label for="exp">Experience Points:</label>
				{{input id="exp-edit" value=model.exp class="form-control" placeholder='Experience Points' type='number'}}<br>
				<label>Concepts:</label>
				{{#power-select-multiple
			      options=concepts
			      selected=chosenConcepts
			      placeholder="Select some concepts..."
			      searchField='name'
			      renderInPlace=true
			      onchange=(action (mut chosenConcepts))
			      as |concept|
			    }}
			      {{concept.name}}
			    {{/power-select-multiple}}
				<label for="author">Author:</label>
				{{input class="form-control" disabled="true" value=current_user.username}}<br>
				<label for="arena">Arena:</label>
				{{input class="form-control" disabled="true" value=model.arena.name}}<br>

				<button type="submit" class="btn btn-success btn-block" type="submit"><i class="fa fa-plus-square-o"></i> Save Challenge</button>
				{{#if errorMessage}}
			    <p>{{errorMessage}}</p>
			  {{/if}}
			</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


{{outlet}}
